.gameList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gameList-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 8rem;
    border-radius: 7rem;
}

.gameForm {
    max-width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}

.gameForm-flex {
    flex-basis: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 5rem;
    border-radius: 7rem;
}

.game {
    background-color: rgba(255, 255, 255);
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 7rem;
    text-align: center;
    max-width: 40rem;
}

.game__title {
    font-size: 1.5rem;
}

.mario-flex-right {
    position: fixed;
    bottom: 6rem;
    left: 10rem;
    height: 28%;
    z-index: -1;
}
