.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 3rem;
}

.navbar__item {
    list-style-type: none;
}

.nav-link {
    background-image: url("../../brick.png");
    background-size: contain;
    padding: 30px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar__item:hover {
    transform: scale(1.1);
    backface-visibility: hidden;
    perspective: 1000px;
}