.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0 4rem 0;
}

.navbar__item {
    list-style-type: none;
}

.nav-link {
    background-image: url("../../brick.png");
    background-size: contain;
    padding: 40px 15px;
    color: white;
    text-decoration: none;
}

.navbar__item:hover {
    transform: scale(1.1);
    backface-visibility: hidden;
    perspective: 1000px;
}